


@font-face{

	font-family:'Aclonica';
	font-weight: bold;
	font-style: normal;
	src: url('Aclonica.ttf');

}


@font-face{

	font-family:'JosefinSans';
	font-weight: bold;
	font-style: normal;
	src: url('JosefinSans.ttf');

}


@font-face{

	font-family:'Muli';
	font-weight: bold;
	font-style: normal;
	src: url('Muli.ttf');

}





}
h1{
	font-family: 'Aclonica';
	font-size:50px;
	
}


h2{
	font-family: 'JosefinSans';
	font-size:30px;	
}

p{

	font-family: 'Muli';
	font-size: 16px;
}



